* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
header{
    width: 75%;
    background-color: white ;
    height: 100px;
    margin:0px auto;
}
.top-nav{
        display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 1%;

}
.top-nav-left{
        display: flex;
        align-item:center;
    justify-content: centre;
    gap: 10px;
    
    
}
.btn{
   width:150px;
   height: 20px;
    padding: 20px;
    
    border-radius: 10px;
    text-align: center;
    border:none;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;

}
.top-nav-right{
      display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
}
.bottom-nav{
    width: 100%;
    height:70px;
    background:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-box{
        width: 70%;
    height: 50px;
    border-radius: 10px;
    background: greenyellow;
}
.login-box{
        border-radius: 10px;
    width: 20%;
    height: 50px;
    background: #d5d5b3;
}
.item-box{
        display: flex;
        justify-content:center;
        padding:10px;
    width: 100%;
    height: 100px;
    background: springgreen;
    gap:4px;

}
.items-icon{
    width:80px;
    height:80px;
    background:rgb(155, 135, 135);
}
.ad-block{
    width:75%;
    height: 300px;
    background-color: red;
    margin:0px auto ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    gap:10px;
}
.ad-block div{
    
   
    height: 90%;
    background: yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad1{
    flex:2;

}
.ad2{
    flex:2;
}
.ad3{
    flex:1
}


